<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="content">
    <h2 style="text-align: center" class="mt-4">Dodaj nowy przepis</h2>

    <form class="needs-validation" novalidate th:method="post" th:action="|/add|" th:object="${newRecipe}">
        <div class="col-md-6 mb-3">
            <label for="validationTitle">Tytuł przepisu</label>
            <input type="text" class="form-control" id="validationTitle" th:field="*{title}" required>
            <div class="invalid-feedback">
                Wpisz tytuł.
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <label for="inputDescription" class="form-label">Opis</label>
            <textarea class="form-control" id="inputDescription" th:field="*{description}" placeholder="Wpisz kolejne kroki przepisu..." required>

            </textarea>
            <div class="invalid-feedback">
                Brak opisu przepisu.
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <label for="validationCategory" class="form-label">Kategoria</label>
            <select class="form-select" id="validationCategory" name="category" aria-label="select example" required>
                <option value="">Wybierz...</option>
                <option th:each="category :${categories}" th:value="${category}" th:text="${category.pl}">
                </option>
            </select>
            <div class="invalid-feedback">
                Wybierz kategorię przepisu.
            </div>
        </div>


        <div class="form-row" th:each="i: ${#numbers.sequence(1, size)}">
            <div class="col-md-6 mb-3">
                <label for="validationCustom03">Ilość</label>
                <input type="number" class="form-control" id="validationCustom03" placeholder="0,5">
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom04">Jednostka</label>
                <select class="custom-select" id="validationCustom04">
                    <option selected disabled value="">Wybierz...</option>
                    <option>szt.</option>
                    <option>g</option>
                    <option>kg</option>
                    <option>szklanka/-ki</option>
                </select>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom05">Nazwa składnika</label>
                <input type="text" class="form-control" id="validationCustom05">
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Dodaj</button>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</div>

<footer th:include="fragments :: footer">

</footer>
</body>
</html>